@import '../../assets/scss/variables';


.dropdown-custom {
    .dropdown {
      width: 100%;
    }
    
    .btn{
      background-color: #fff;
      border-radius: 0;
      box-shadow: none !important;
      color:#c9c9c9;
      text-align: left;
      border: none;
      border-bottom: 1px solid #c9c9c9 !important;
      &:hover, &:focus{
          background-color: #fff !important;
          border: none;
          border-bottom: 1px solid $primary !important;    
      }
      &:focus{
          color:$primary !important;
    }
      &::after {
          content: " ";
          background-image: url(/img/down-arrow.svg);
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          right: 10px;
          top: 30%;
          pointer-events: none;
          z-index: 99;
          width: 20px;
          height: 16px;
      }
    }
    .dropdown-menu{
      width: 100%;
      max-height: 300px;
      overflow-y: auto;
      .dropdown-item{
        color:$default;
        &:not(:last-child){
          border-bottom: 1px solid #ccc;
  
          }
          &:hover{
              background-color: $default;
              border-color: #ddd;
              color: #fff;
          }
      }
  }
}

.mdc-text-field{
    .mdc-text-field__input {
        border-color: #c9c9c9;
        caret-color: $primary;
    }
    .mdc-line-ripple {
        background-color: $primary;
    }

    &:not(.mdc-text-field--disabled) {
        background-color: #fff;
        &.mdc-text-field--focused{
            .mdc-floating-label{
                color: $primary !important;
                border-color: $primary !important
            }
        }
        .mdc-floating-label, input{
            color: #c9c9c9 !important;
            border-color: #c9c9c9 !important
        }
    }
} 




.input-required {
    .btn{
        background-color: #ffebee;
        color:#C10000;
        border-color: #C10000;
        &::after {
            background-image: url(/img/down-arrow-error.svg);
        }
        &:hover{
            &::after {
                background-image: url(/img/down-arrow.svg);
            }
        }
    }
    input.form-control {
        background-color: #ffebee;
        border: 1px solid #C10000 !important;
    }
  
}



.input-required select {
  background-color: #ffebee;
  border: 1px solid #FFE9E9 !important;
}

.input-message-error {
  font-size: 1rem;
  color: #C10000;
}