@import '../../assets/scss/variables';



.mdc-text-field{
    .mdc-text-field__input {
        border-color: #c9c9c9;
        caret-color: $primary;
    }
    .mdc-line-ripple {
        background-color: $primary;
    }

    &:not(.mdc-text-field--disabled) {
        background-color: #fff;
        &.mdc-text-field--focused{
            .mdc-floating-label{
                color: $primary !important;
                border-color: $primary !important
            }
        }
        .mdc-floating-label, input{
            color: #c9c9c9 !important;
        }
    }
} 




.input-required {
    .btn{
        background-color: #ffebee;
        color:#C10000;
        border-color: #C10000;
        &::after {
            background-image: url(/img/down-arrow-error.svg);
        }
        &:hover{
            &::after {
                background-image: url(/img/down-arrow.svg);
            }
        }
    }
    input.form-control {
        background-color: #ffebee;
        border: 1px solid #C10000 !important;
    }
  
}



.input-required select {
  background-color: #ffebee;
  border: 1px solid #FFE9E9 !important;
}

.input-message-error {
  font-size: 1rem;
  color: #C10000;
}