@import "../assets/scss/variables";
.checkout-rafarela{
    flex-wrap: wrap;
    .title-main{
        background-color: $primary;
        position: relative;
        h1{
            font-size: 1.25rem;
            width: 207px;
            font-weight: 700;
        }
        .bg-card{
            position: absolute;
            right: -50px;
            width: 367px;
            height: 248px;
            background-image: url(/img/card-empty.svg);
            background-repeat: no-repeat;
            background-size: contain;
            .card-info{
                text-shadow: 0px 1px 2px #000000B3;
                .card-number{
                    font-size: 19px;
                    letter-spacing: 5px;
                }
  
            }
            &.card-blue{
                background-image: url(/img/card.svg);
            }
            &.card-verse{
                background-image: url(/img/card-verse.svg);
            }
        }
    }
    
}


@media (max-width: 1199.98px){
    .checkout-rafarela{
        .title-main{
            width: 100%;
            padding-bottom: 110px !important;
            .bg-card{
                right: 0;
                left: 0;
                width: 280px;
                height: 172px;
                margin: auto;
                background-position: center;
                .card-info{
                    font-size: .9rem;
                    .card-number{
                        font-size: .9rem;
                    }
      
                }
            }
        }
        .content{
            width: 100%;
        }
    }
}

@media (min-width: 1200px){
    .checkout-rafarela{
        min-height: 100vh;
        .content{
            flex: 1;
        }
    }
}